@tailwind base;
@tailwind components;
@tailwind utilities;

.box-image {
  background-color: red;
  height: 600px;
  width: 800px;
}

.btn-1 {
  border-radius: 20px;
  background-color: black;
  color: white;
  height: 30px;
  width: 100px;
}

.btn-2 {
  border: 1px solid black;
  border-radius: 20px;
  background: none;
  color: black;
  height: 30px;
  width: 100px;
}
